<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Jokes</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  
  <h1>Welcome To This Webpage Which Tells Funny Jokes</h1>
  <h3>Here are 5 random jokes</h3>


  <div class="display_jokes">
    <ul>
      <li id="placeholder1"></li>
      <li id="placeholder2"></li>
      <li id="placeholder3"></li>
      <li id="placeholder4"></li>
      <li id="placeholder5"></li>
    </ul>
  </div>

  <div class="add_joke_inputs">
    <input type="date" id="entry_date" name="eDate" placeholder="Enter Entry Date"><br>
    <input type="text" id="author" name="author" placeholder="Enter Author Name"><br>
    <input type="text" id="joke" name="joke" placeholder="Enter Joke"><br>
    <input type="text" id="punchline" name="pLine" placeholder="Enter Punchline"><br>
    <button type="button" onclick="alert(uploadJokes())">Click To Submit Joke</button>
  </div>
  
  <script src="/static/scripts/script.js"></script>

  <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>


  
</body>

</html>